* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #90a4ae;
}

h1,
h2 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.top {
  width: 100%;
  height: 4vh;
  background-color: #62757f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7vh 3rem 0 3rem;
  color: white;
  background-color: #494949;
}

.nav_home {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: clamp(2.5rem, 47/100 * 10vw, 4.7rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav_home i {
  font-size: clamp(2.5rem, 63/100 * 10vw, 6.3rem);
}

.nav_menu {
  display: flex;
  list-style: none;
}

.nav_menu li {
  font-size: clamp(1.7rem, 35/100 * 10vw, 3.5rem);
  padding: 0 1.5rem 0.5rem 1.5rem;
  white-space: nowrap;
}

.nav_menu li:hover {
  border-bottom: 0.3rem solid #e2f1f8;
  transition: border-bottom 0.2s ease;
}

.nav_home a,
.nav_menu a {
  text-decoration: none;
  color: white;
}

#thisPage {
  border-bottom: 0.3rem solid #e2f1f8;
}
#thisPage a {
  font-weight: bold;
}

.footbar {
  padding: 2.5rem 2rem;
  background-color: #b0bec5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot_info {
  color: #494949;
  font-size: clamp(1.4rem, 18/100 * 10vw, 1.8rem);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* 1550px ~ */
/* .navbar 패딩 늘리기, .nav_menu li 패딩 늘리기 */
@media (min-width: 1500px) {
  .navbar {
    padding: 7vh 6rem 0 6rem;
  }
  .nav_menu li {
    padding: 0 2rem 0.5rem 2rem;
  }
}

/* 1000px ~ 1550px : 기본값 */

/* 720px ~ 1000px*/
/* .navbar 패딩 줄이기, .nav_menu li 패딩 줄이기 */
@media (max-width: 1200px) {
  .navbar {
    padding: 7vh 1rem 0 1.3rem;
  }
  .nav_menu li {
    padding: 0 1rem 0.5rem 1rem;
  }
}

/* ~ 720px 
/* navbar 세로정렬 */
/* footer 세로정렬 */
@media (max-width: 720px) {
  .top {
    height: 2vh;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
  }
  .nav_menu {
    flex-direction: column;
    align-items: center;
  }
  .nav_menu li {
    font-weight: lighter;
    margin-top: 0.7rem;
    width: 13rem;
    height: 4vh;
    line-height: 3.5vh;
    text-align: center;
    box-sizing: border-box;
  }
  #thisPage {
    font-weight: lighter;
    border-bottom: 0.1rem solid #e2f1f8;
  }

  .footbar {
    padding: 1rem;
    flex-direction: column;
  }

  .foot_info:not(:first-child) {
    padding-top: 0.5rem;
  }
}
