.info {
  color: #494949;
  width: 500px;
  margin: auto;
}

.info_title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.line {
  font-weight: 500;
  box-shadow: inset 0 -0.3em rgba(221, 228, 231, 0.3);
  border-bottom: 2px solid #dde4e7;
}

/* ================== form ================== */

.info_set {
  background-color: #dde4e7;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

.input-info {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  transition: box-shadow 0.2s ease;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  margin-bottom: 15px;
}

.input-info:hover {
  box-shadow: 0 2px 0 0 #62757f;
}

.input-info:focus {
  outline: none;
  box-shadow: 0 0 0 2px #62757f;
  border-radius: 4px;
}

[class^='select'] {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 0 0 #677880;
  padding: 0 14px;
  appearance: none;
  background: white url('./../images/select.svg') no-repeat calc(100% - 15px) /
    1em;
  transition: box-shadow 0.2s ease;
}

[class^='select']:hover {
  box-shadow: 0 2px 0 0 #62757f;
}
[class^='select']:focus {
  outline: none;
  box-shadow: 0 0 0 2px #62757f;
  border-radius: 4px;
}

.info_set span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
}

.btn-black-submit {
  font-size: 16px;
  width: 100%;
  height: 48px;
  background-color: #494949;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-black-submit:nth-child(5) {
  margin-bottom: 15px;
}

/* ================== rent ================== */
.rent-container {
  background-color: #e2f1f8;
  /* width: 100%; */
  display: none;
  padding: 30px;
  border-radius: 20px;
}
.rent {
  /* width: 100%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
  /* justify-content: center; */
  /* gap: 10px; */
}
.rent-book {
  display: flex;
  flex-direction: column;
  width: calc((100% - (24px * 2)) / 3);
  align-items: center;
}
.rent-book > img {
  width: 55%;
}

.rent-book > .title {
  color: #494949;
  font-size: clamp(2rem, 23/100 * 10vw, 2.3rem);
  text-align: center;
  width: 100%;
  margin: 10px 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rent-book > .content {
  color: #494949;
  background-color: white;
  border-radius: 20px;
  padding: 0px 10px;
  font-size: clamp(1.6rem, 18/100 * 10vw, 1.8rem);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

/* 768px 미만이면 login form 이 contents 꽉 채우게 */
@media (max-width: 768px) {
  .info {
    min-width: 0;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .rent-book {
    width: calc((100% - (24px * 1)) / 2);
  }
}

@media (max-width: 640px) {
  .rent-book {
    width: 100%;
    margin: auto;
  }
  .rent-book > .content {
    overflow: visible;
    display: block;
    padding: 10px;
  }
}
